@import 'variables.scss';

@import 'global.scss';
@import 'fonts.scss';
// @import 'sprite.scss';
@import 'mixins.scss';
@import 'blocks/page-header.scss';
@import 'blocks/btn.scss';
@import 'blocks/footer.scss';
@import 'blocks/slider.scss';



$color: #000;
.about {
  background-color: $color;
  margin: 0;
  left: 12px + 4;
}